*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-header {
    background-color: black;
    text-align: center;
}

.logo-header img{
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}


.navbar li {
    display: none;
    display: inline-block;
    margin-right: 20px;
    
}

    /* Dropdown Button */
        .dropdown{
            top: 0;
            position: sticky;
            display: inline-block;
            grid-row: 1;
            
            

        }
        .dropdown button{
            top: 0;
            position: sticky;
            grid-row: 1;
            background-color: grey;
            color: white;
            font-size: 24px;
            padding: 5px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .dropdown a{
            display: block;
            color: black;
            text-decoration: none;
            padding: 25px 50px;
            font-size: 20px;
        }
        .dropdown .content{
            display: none;
            position: absolute;
            border-radius: 3px;
            background-color: hsl(0, 4%, 68%);
            min-width: 100px;
            box-shadow: 5px 5px 5px hsla(0, 0%, 0.8);
        }
        .dropdown:hover .content{
            display: block;
        }
        .dropdown:hover button{
            background-color: hsl(0, 0%, 70%);
        }
        .dropdown a:hover{
            background-color: hsl(0, 0%, 90%);
        }
        .dropdown .content .active {
            background-color: rgb(128, 125, 125);
            
        }


    /* Navbar Menu */


.main-content {
    grid-row: 2;
    padding: 20px;
}

.burner-ad {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
#ad {
    margin-bottom: 15px;
}

.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: rgb(22, 245, 22);
    font-weight: bold;
}

.footer {
    grid-row: 3;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}


/* iPads and Tablets */
    @media only screen and (min-width:769px) and (max-width:1024px) {
        .dropdown{
            display: none;}
        .navbar {  
            top: 0;
            position: sticky;
            grid-row: 1;
            background-color: grey;
            padding: 10px;
            text-align: center;
        }

        .navbar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        
            
        }

        .navbar li {
            display: inline-block;
            margin-right: 20px;
            
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 15px;
            display: block;
            text-align: center;
        }

        .navbar a:hover{
            background-color: rgb(201, 187, 187);
        }

    }

    /*Desktops and Laptops */
        @media only screen and (min-width:1025px) {
            .dropdown{
                display: none;}
            .navbar {
                top: 0;
                position: sticky;
                grid-row: 1;
                background-color: grey;
                padding: 15px;
                text-align: center;
            }

            .navbar ul {
                list-style: none;
                margin: 0;
                padding: 0;
            
                
            }

            .navbar li {
                display: inline-block;
                margin-right: 20px;
                
            }

            .navbar a {
                color: white;
                text-decoration: none;
                padding: 15px;
                display: block;
                text-align: center;
            }

            .navbar a:hover{
                background-color: rgb(201, 187, 187);
            }
        }


/* Large Desktops and High-Resolution Displays */
@media only screen and (min-width:1200px) {
    .dropdown{
        display: none;}
    .navbar {
        top: 0;
        position: sticky;
        grid-row: 1;
        background-color: grey;
        padding: 10px;
        text-align: center;
    }

    .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    
        
    }

    .navbar li {
        display: inline-block;
        margin-right: 20px;
        
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
    }

    .navbar a:hover{
        background-color: rgb(201, 187, 187);
    }
}


/* Mobile Phone */
@media only screen and (max-width:768px) {
    .navbar{
        display: none;
    }
}
